*{
    margin:0;
    padding:0;
}
/* header */
.header{
    background-color: #F46164;
    font-size:0.8rem;
}
li.nav-item > a{
    color:white;
}
li.nav-item > a:hover{
    background-color:white;
    color:  #F46164;
}   
.cart-child:hover{
    text-decoration: none;
}
.search-text-box{
    width:500px;
    padding-left:0.5rem;
    outline: none;
    border:1px solid #eee;
    border-right:none;
}
.button-search{
    padding:0.4rem 0.6rem;
    margin-right:0.1rem;
    background-color:black;
    color:white;
    border:none;
    outline: none;
}
.button-search:hover{
    background-color:#eee;
}
#product li.nav-item > a:hover{
    background-color:#F46164;
    color:white;
}
.logo{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
/* body */
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.img-responsive{
    width:252px;
}
.img-responsive:hover{
    opacity: 0.8;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: #F46164;
    font-weight: bold;
    color:white !important;
}
.female-product{
    color:black !important;
}
/* product */
.image{
    height:348px;
    width:273px;
    position: relative;
    display: flex;
    justify-content: center;
}
.product-item:hover .more-info{
    visibility: visible;
}
.product-item:hover .product-image{
    transform: rotateY(180deg);
}
.product-image{
    transition: transform 1s;
}
.product-item{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-name{
    font-size:0.9rem;
    color:black;
    text-decoration: none;
}
.product-name:hover{
    color: #F46164;
    text-decoration: none;
}
.price-new{
    color: #F46164;
}
.price-old{
    color: grey;
    text-decoration: line-through;
}
.buy{
    outline:none;
    border: 1px solid #F46164;
    border-bottom: none;
    color:#F46164;
    background-color: white;
    border-radius: 0.2rem;
    padding:0.3rem;
    margin-top:1rem;
}
.buy:hover{
    background-color: #F46164;
    color:white;
}
.more-info{
    position: absolute;
    color: white;
    background-color: #F46164;
    padding:0.3rem 0.4rem 0.3rem 0.5rem;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    text-decoration: none;
    border-radius: 0.2rem;
    visibility: hidden;
}
.more-info:hover{
    color: white;
    background-color: #f04b4e;
    text-decoration: none;
}
/* policy */
.sale-policy-block{
    background-color: #F46164;
    color:white;
    width:250px;
    height:55px;
    text-align: center;
    line-height: 55px;
    margin:3rem 0;
}
/* introduce */
h4{
    border-bottom:2px solid #F46164;
    color:white;
    padding:0.2rem 0.2rem 0.2rem 0;
}
h4 > span{
    background-color:#F46164;
    padding:0.2rem;
    font-size:1.2rem;
}
.menu-about ul{
    list-style-type: none;
}
.menu-about ul li > a{
    color: black;
    font-size:0.8rem;
    text-decoration: none;
}
.introduce{
    color:#F46164;
}
/* new */
.new-title{
    border-bottom:1px solid black;
    padding:0.6rem;
    background-color:black;
    color:white;
    font-size:0.9rem;
}
.menu-news{
    border: 1px solid black;
}
.menu-news ul{
    list-style-type: none;
    font-size:0.8rem;
    padding-left:1rem;
}
.menu-news ul li > a{
    color: black;
    text-decoration: none;
}
.news-item{
    margin-top:0.8rem;
    border-bottom:1px dotted black;
    padding:0.5rem 0;
}
.news-item:nth-child(5){
    border-bottom:none;
}
.image-box-container-1{
    width:100px;
    height:60px;
    box-sizing: border-box;
    overflow: hidden;
}
.image-box{
    width:100%;
}
.image-box-container-1:hover{
    transform: scale(1.2);  
}
.title-news > a{
    font-size: 0.8rem; 
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.title-news > a:hover{
    color:#F46164;
}
.image-box-container-2{
    width:190px;
    height:150px;
    box-sizing: border-box;
    overflow: hidden;
}
.news-item-promotion:nth-child(2){
    border-bottom:none;
}
.news-item-market:nth-child(3){
    border-bottom:none;
}
.new-detail-content-child > div{
    font-size:0.8rem;
}
.new-detail-content-child{
    margin:1rem 0;
    line-height: 1.5rem;
}
/* check-order */
.check-order-container{
    margin-bottom:10rem;
}
/* footer */
.items{
    display:flex;
    flex-direction: column;
    margin-top:1.5rem;
}
.items > a{
    margin-bottom:0.8rem;
    font-size:0.8rem;
    color:black;
    text-decoration: none;
}
.items > p{
    font-size:0.8rem;
}
.contact{
    display:flex;
}
.contact > div{
    margin-right:1rem;
    font-size:2rem;
}
.google > a{
    color: #dd4b39;
}
.facebook > a{
    color: #3B5998;
}
.youtube > a{
    color: red;
}
.skype > a{
    color: #6DB7EF;
}
.scrollback{
    position: fixed;
    top:85%;
    left:95%;
    font-size: 3rem;
    cursor: pointer;
}
.scrollback:hover{
    color: grey;
}
