name: ci

on:
  push:
    branches: master

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          # username: ${{ secrets.DOCKERHUB_USERNAME }}
          username: "kaitoryouga"
          password: "2f75fe0b-90ea-45e4-8f31-7e3d433e70ce"
          # password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build image
        run: docker-compose -p shop build

      - 
        name: Push image
        run: |
          VERSION=latest
          docker tag shop_php kaitoryouga/shop_php:$VERSION
          docker push kaitoryouga/shop_php:$VERSION